{{ define "main" }}
<section class="contactcall">
    <div class="container-intro-text">
        <p class="intro-text">N'hésitez pas à venir prendre un café à l'agence, nous serions enchantés de discuter de votre projet !</p>
    </div>

    {{ with .Site.Params.form.title }}<h3 id="form-title">{{ . }}</h3>{{ end }}
    <form class="form-first" method="POST" action="//formspree.io/{{ with .Site.Params.email }}{{ . }}{{ end }}">
        <fieldset class="contact-info-group">
                {{ with .Site.Params.form.name }}<label><span>{{ . }}</span>{{ end }}
                <input type="text" name="name">
            </label>
                {{ with .Site.Params.form.society }}<label><span>{{ . }}</span>{{ end }}
                <input type="text" name="society">
            </label>
                {{ with .Site.Params.form.email }}<label><span>{{ . }}</span>{{ end }}
                <input type="email" name="_replyto">
            </label>
                {{ with .Site.Params.form.phone }}<label><span>{{ . }}</span>{{ end }}
                <input type="tel" name="phone">
            </label>
        </fieldset>
        {{ with .Site.Params.form.message }}<label><span>{{ . }}</span>{{ end }}
        <textarea name="message"></textarea>
    </label>
        <fieldset class="submit-wrap">
            <input type="submit" class="btn-submit-contact" value="{{ with .Site.Params.form.buttonText }}{{ . }}{{ end }}">
        </fieldset>
    </form>

        <div class="contact-information">

               <div class="information-side">
                   <div class="mail-section">
                        <h2>Mail</h2>
                        <p>Yeti-Vision@gmail.com</p>
                   </div>
                   <div class="phone-section">
                        <h2>Téléphone</h2>
                        <p>+33000000000</p>
                   </div>
                   <div class="address-section">
                        <h2>Adresse</h2>
                        <p>4 rue du projet<br>
                            06100 Nice</p>
                   </div>
               </div>
                   <div class="contact-information-yeti">
                       <img class="img-yeti" src="{{ .Site.BaseURL }}img/contact/YetiJimmy.png">
                   </div>
        </div>
    <div class="map-information">
        <img class="map-img"  src="{{ .Site.BaseURL }}img/contact/googlemapnice.jpeg">
    </div>

</section>
{{end}}
