/* HOMEPAGE */

.section-blog {
    margin-bottom: 3%;
}

.snip1552 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: auto;
    min-width: 230px;
    max-width: 500px;
    width: 100%;
    color: #000000;
    text-align: left;
    font-size: 16px;
    background-color: #fff;
}

.snip1552 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1552 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
    min-height: 333px;
}

.snip1552 figcaption {
    position: absolute;
    top: 20px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    z-index: 1;
    bottom: 0;
}

.snip1552 h3,
.snip1552 p {
    opacity: 0;
    letter-spacing: 1px;
}

.snip1552 h3 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 5px;
    margin-top: 5%;
    padding-top: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.snip1552 p {
    font-weight: normal;
    font-style: italic;
    color: #888;
    margin-top: 5%;
    font-size: 0.9em;
    padding-left: 15px;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
}

.snip1552 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1552:hover > img,
.snip1552.hover > img {
    opacity: 0.1;
}

.snip1552:hover h3,
.snip1552.hover h3,
.snip1552:hover p,
.snip1552.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* LIST PAGE */

#section-list-post {
    margin: 7% 0 15% 0;
}

.btn-readmore a {
    color: #000;
}

.btn-readmore {
    background-color: rgba(196, 229, 235, 0.7);
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.btn-readmore:hover {
    background-color: rgba(196, 229, 235, 1);
}

.pagination {
    display: flex;
    list-style: none;
    border-radius: .25rem;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
    background-color: #fff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-link:hover{
    color: #73bfc9;
}

.page-item.active .page-link {
    z-index: 1;
    color: #000;
    background-color: #c4e5eb;
    border-color: #c4e5eb;
}

.img-list-post {
    width:80%;
    float:left;
}

@media all and (max-width: 980px){
    #section-list-post {
        margin: 20% 0 50% 0;
    }

    .title-list-post {
        font-size: 1.5em;
        text-align: center;
    }

    .summary-list-post {
        display: none;
    }

    .post-date {
        text-align: center;
    }

    .div-date-img-list-post {
        text-align: center;
    }

    .img-list-post {
        float: none;
    }

    .pagination-list-post{
        margin: auto;
    }
}

/* SINGLE PAGE */

#section-single-post {
    margin: 7% 0 0 0;
}

#section-single-post .div-content-title-single-post {
    margin-bottom: 2%;
}

#section-single-post h1 {
    text-align: center;
}

#section-single-post .div-content-img-single-post {
    margin-bottom: 3%;
}

#section-single-post .img-single-post {
    width: 80%;
}

#section-single-post #date {
    text-align: center;
}

#section-single-post .div-content-text-single-post {
    margin-bottom: 15%;
}

#section-single-post .btn-previous img{
    height: 32px;
    width: 32px;
    margin-top: 1%;
    margin-right: 5%;
}

#section-single-post .btn-next img{
    height: 32px;
    width: 32px;
    margin-top: 1%;
    margin-left: 5%;
}

.single-post-icons {
    text-align: right;
}

