/* HOMEPAGE */

.snip1552 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 8px;
    min-width: 230px;
    max-width: 350px;
    width: 100%;
    color: #000000;
    text-align: left;
    font-size: 16px;
    background-color: #fff;
}

.snip1552 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1552 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.snip1552 figcaption {
    position: absolute;
    top: 20px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    z-index: 1;
    bottom: 0;
}

.snip1552 h3,
.snip1552 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
}

.snip1552 h3 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.snip1552 p {
    font-weight: normal;
    font-style: italic;
    color: #888;
    font-size: 0.9em;
    padding-left: 15px;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
}

.snip1552 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1552:hover > img,
.snip1552.hover > img {
    opacity: 0.1;
}

.snip1552:hover h3,
.snip1552.hover h3,
.snip1552:hover p,
.snip1552.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


/* SINGLE */

#section-single-post {
    margin: 10% 0 0 0;
}

#section-single-post .div-content-title-single-post {
    margin-bottom: 2%;
}

#section-single-post h1 {
    text-align: center;
}

#section-single-post .div-content-img-single-post {
    margin-bottom: 3%;
}

#section-single-post .img-single-post {
    width: 80%;
}

#section-single-post #date {
    text-align: center;
}

#section-single-post .div-content-text-single-post {
    margin-bottom: 15%;
}