.clients-belt {
    width: 100%;
    position: relative;
}
    .clients-belt .client-unit {
        max-width: 1250px;
        margin: 50px auto;
        position: relative;
        z-index: 1;
        display: none;
    }
        .clients-belt .client-unit.active-client {
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
        }
        .clients-belt .client-unit .client-face {
            min-width: 300px;
            text-align: center;
        }
        .clients-belt .client-unit .client-face img {
            max-width: 200px;
            border-radius: 50%;
        }
        .clients-belt .client-unit .client-profil .client-name {
            display: block;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: xx-large;
            margin-bottom: 30px;

        }
        .clients-belt .client-unit .client-face .client-title {
            font-style: normal;
            font-size: 12px;
            color: #999;
        }
        .clients-belt .client-unit .client-content {
            font-size: 18px;
            line-height: 36px;
            font-weight: 300;
            margin-top: -10px;
            position: relative;
            margin-right: 50px;
        }

        .clients-belt .client-unit .client-profil{
            text-align: center;
        }

.clients-logos {
    position: relative;
    max-width: 750px;
    margin: 0px auto 100px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: center;
}
.clients-logos .client-logo {
    cursor: pointer;
    margin: 0 20px 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
    opacity: 0.5;
}
.clients-logos .client-logo.active-client {
    opacity: 1;
    border-bottom: 4px solid #c99065;
}

.client-quote-mark {
    position: absolute;
    top: -18px;
    left: -15px;
    height: 60px;
    width: 60px;
    z-index: -1;
    opacity: 0.3;
}
.client-quote-mark path {
    fill: #c99065;
}

.client-controls {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}
.client-controls > div {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    cursor: pointer;
}
.client-controls > div path {
    fill: #c99065;
}
.client-controls .client-control-next {
    position: absolute;
    top: 50%;
    right: 10px;
}
.client-controls .client-control-prev {
    position: absolute;
    top: 50%;
    left: 10px;
}

.clients-mobile-nav {
    text-align: center;
    position: relative;
    z-index: 2;
    display: none;
}
.clients-mobile-nav span {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: solid 2px #e5eaee;
    margin: 0px 10px;
    cursor: pointer;
}
.clients-mobile-nav span.active-client {
    border-color: #c99065;
}

@media (max-width: 750px) {
    .clients-logos {
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .clients-belt {
        overflow-x: hidden;
    }
    .clients-belt .client-unit.active-client {
        display: block;
        position: relative;
        margin-left: 0px;
        left: auto;
    }
    .clients-belt .client-unit.active-client .client-face {
        margin-bottom: 200px;

    }
    .clients-belt .client-unit.active-client .client-content {
        padding: 0px 30px;
        max-width: 400px;
        margin: 0px auto;
    }
    .clients-belt .client-unit.active-client .client-quote-mark {
        left: 6px;
    }

    .client-controls {
        display: none;
    }

    .clients-logos {
        display: none;
    }

    .clients-mobile-nav {
        display: block;
    }





}