.section-call {
    position: relative;
    width: 900px;
    max-width: 80%;
    border: 2px solid #333;
    border-top: none;
    text-align: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.text-content-call h1 {
    position: relative;
    margin-top: -14px;
    display: inline-block;
    letter-spacing: 4px;
}

.top-border{
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #333;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

#btn-outline:hover .shape {
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 550;
}

.no-svg #btn-outline {
    color: black;
    font-size: 1.7em;
    line-height: 40px;
    letter-spacing: 4px;
    text-indent: 4px;
    border: 2px solid black;
    margin-bottom: 50px;
}

#btn-outline .text-call {
    color: black;
    font-size: 1.1em;
    letter-spacing: 4px;
    margin-right: 10px;
    margin-top: -45px;
    margin-left: 10px;
}

#btn-outline .shape {
    stroke-dasharray: 145, 310;
    stroke-dashoffset: -304;
    stroke-width: 10px;
    fill: transparent;
    stroke: #333;
    -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    -ms-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

#btn-outline a { text-decoration: none;}

#btn-outline {
    margin: 30px auto ;
    width: 210px;
    height: 60px;
    display: block;
}

#btn-outline a {
    padding: 20px;
    margin-bottom: 40px;
    width: 440px;
    max-width: 80%;
    color: #333;
    font-size: 22px;
    letter-spacing: 3px;
}

#wrapper {
    width: 100%;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#btn-outline:hover{
    background-color: lightskyblue;
    transition: background-color 2s ease;
    text-decoration: none;
}

@media all and (max-device-width: 480px) {
    .top-border {
        width: 18%;
    }

    .text-content-call p {
        font-size: 0.9em;
        margin: 20px 10px 40px 10px;
        line-height: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .section-call a:link, .section-call a:visited, .section-call a:link:hover, .section-call a:visited:hover {
        text-decoration: none;

    }

    .top-border {
        display: block;
        width: 10%;
    }

    .section-call {
        max-width: none;
        width: 95%;
    }

    .section-call h1 {
        font-size: 1em;
        top: -11px;
    }
}

@media all and (min-device-width: 480px) and (max-device-width: 1024px) {
    .section-call h1 {
        font-size: 1.2em;
        top: -11px;
    }
}