.contactcall{
    margin: 5% 0 10% 0;
}

form {
    max-width: 100%;
    padding: 0 20px;
    margin-left: 10%;
    margin-right: 10%;
}
form input, form textarea {
    border: 2px solid #000;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px; }

form .btn-submit-contact{
    border: 2px solid #000;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #e1c285; }

form textarea {
    height: 10em;
    resize: none; }
form .submit-wrap {
    text-align: left; }
form [type="submit"] {
    background: #c4e5eb;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    width: 33%; }
form [type="submit"]:hover {
    background: rgba(196, 229, 235, 0.8); }
form .contact-info-group label {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
form .contact-info-group label:nth-child(1) {
    padding-right: 10%; }
form .contact-info-group label:nth-child(2) {
    padding-left: 10%; }
form .contact-info-group label:nth-child(3) {
    padding-right: 10%; }
form .contact-info-group label:nth-child(4) {
    padding-left: 10%; }

form label {
    display: block;
    margin-bottom: 20px; }
form label span {
    display: block; }

@media (max-width: 541px) {
    form .contact-info-group label {
        width: 100%; }
    form .contact-info-group label:nth-child(1) {
        padding: 0; }
    form .contact-info-group label:nth-child(2) {
        padding: 0; }
    form .contact-info-group label:nth-child(3) {
        padding: 0; }
    form .contact-info-group label:nth-child(4) {
        padding: 0; }
    form [type="submit"] {
        width: 100%; } }

.form-success {
    background: #e5eaee;
    text-align: center; }
.form-success p {
    font-size: 18px; }

form .contact-info-group span{
    margin-bottom: 15px;
}

.contact-information{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.img-yeti{
    width: 60%;
    text-align: right;
}

.information-side{
    margin-top: auto;
    margin-bottom: auto;
}

.map-information{
    width: 100%;
    margin-bottom: 50px;
}

.map-img{
    width: 100%;
    height: 100%;
}

.container-intro-text{
    margin-right: 10%;
    margin-left: 10%;
}