#section-events {
    margin: 7% 0 5% 0;
    clear: both;
}

#section-events h1 {
    font-size: 3em;
    text-align: center;
}

.snip1554 {
    background-color: #c4e5eb;
    color: #000;
    display: inline-block;
    font-size: 14px;
    margin: 8px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}

.snip1554 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1554:after {
    background-color: white;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    content: '';
    left: -100%;
    position: absolute;
    width: 200px;
    box-shadow: 0 0 100px white;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.snip1554 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.snip1554 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    line-height: 1em;
    opacity: 0;
}

.snip1554 h3 {

    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.1em;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    padding-top: 20%;
    padding-right: 2%;
    padding-left: 2%;
}

.snip1554 h3 span {
    font-weight: 700;
}

.snip1554 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1554:hover > img,
.snip1554.hover > img {
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.snip1554:hover:after,
.snip1554.hover:after {
    left: 200%;
}

.snip1554:hover figcaption,
.snip1554.hover figcaption {
    opacity: 1;
}

.btn-previous, .btn-next {
    border: none;
    font-size: 2em;
    border-radius: 10px;
    color: #c4e5eb;
}

.btn-next:hover, .btn-previous:hover{
    color: #615da1;
}

.previous:hover, .next:hover{
    text-decoration: none;
}

/* SINGLE PAGE */

#section-single-event {
    margin: 5% 0 0 0;
}

#section-single-event h1 {
    text-align: center;
}

#section-single-event .btn-previous img{
    height: 32px;
    width: 32px;
    margin-top: 1%;
    margin-right: 5%;
}

#section-single-event .btn-next img{
    height: 32px;
    width: 32px;
    margin-top: 1%;
    margin-left: 5%;
}

#section-single-event .img-single-event {
    width: 100%;
    margin-right: 2%;
}

.div-content-single {
    text-align: justify;
    width: 70%;
    font-size: 1.2em;
}