.section-header {
    min-height: 60px;
    background-color: #c4e5eb;
    z-index: 10;
}

.section-header .navbar {
    position: absolute;
}

.section-header .navbar li a {
    color: #000;
}

.section-header .navbar li a:hover {
    color: #615da1;
}

.section-header .navbar-toggler-icon {
    background-image: url("/img/icones/menu_black.png");
    width: 50px;
    height: 50px;
}


.lrg-logo {
    position:absolute;
    width: 15%;
    left:44%;
    top: 10%;
    z-index:1;
}

.sml-logo {
    position:absolute;
    width: 7%;
    left:47%;
    top: 6%;
    z-index:1;
}

#header-logo{
    width: 100%;
}

.social-icon-menu {
    display: flex;
    position: absolute;
    top: 6%;
    left: 83%;
}

.social-icon-menu #icon-fb, .social-icon-menu #icon-twitter, .social-icon-menu #icon-linkedin, .social-icon-menu #icon-instagram, .social-icon-menu #icon-contact, .social-icon-menu #icon-news{
    width: 50px;
    height: 50px;
}

@media all and (max-width: 480px){
    .section-header {
        min-height: 40px;
    }

    .section-header .navbar {
        top:70px;
        left: 76%;
    }

    .section-header .navbar-collapse {
        position: absolute;
        top: 0.2em;
        left: -15em;
        background-color: rgba(196, 229, 235, 0.8);
        padding: 20px 0px 10px 35px;
        width: 98vw;
    }

    .arrow-right-mobile {
        width: 15px;
        position: absolute;
        left: -15px;
        top: 14px;
        height: 11px;
        background-image: url("/img/glyph-iconset-master/svg/si-glyph-arrow-right.svg");
    }


    .section-header .navbar-toggler {
        position: fixed;
        left: 82%;
        top: 9%;
        min-height: 50px;
        z-index: 12;
    }

    .lrg-logo {
        position: absolute;
        width: 30%;
        left: 34%;
        top: 51%;
        z-index: 1;
    }

    .sml-logo {
        position: absolute;
        width: 30%;
        left: 34%;
        top: 51%;
        z-index: 1;
    }

    .social-icon-menu #icon-fb, .social-icon-menu #icon-twitter, .social-icon-menu #icon-linkedin, .social-icon-menu #icon-instagram, .social-icon-menu #icon-contact, .social-icon-menu #icon-news{
        width: 30px;
        height: 30px;
    }

    .social-icon-menu {
        justify-content: space-between;
    }

    .social-icon-menu .menu-social-icon-mobile-left {
        position: absolute;
        width: 32vw;
        top: 0.2em;
        left: -16em;
    }

    .social-icon-menu .menu-social-icon-mobile-right {
        position: absolute;
        width: 32vw;
        left: -4em;
        top: 0.2em;
    }
}

@media all and (min-width: 480.1px) and (max-width: 960px) {
    .section-header .navbar {
        top:70px;
        left: 76%;
    }

    .section-header .navbar-toggler-icon {
        width: 70px;
        height: 70px;
    }

    .section-header .navbar-collapse {
        position: absolute;
        top: 0em;
        left: -11.5em;
        background-color: rgba(196, 229, 235, 0.8);
        padding: 20px 0px 10px 35px;
        width: 25em;
        z-index:10;
    }

    .arrow-right-mobile {
        width: 15px;
        position: absolute;
        left: -15px;
        top: 14px;
        height: 11px;
        background-image: url("/img/glyph-iconset-master/svg/si-glyph-arrow-right.svg");
    }


    .section-header .navbar-toggler {
        position: fixed;
        left: 91%;
        top: 9%;
        min-height: 50px;
        z-index: 12;
    }

    .social-icon-menu .menu-social-icon-mobile-left {
        position: absolute;
        width: 17vw;
        top: 0%;
        left: -49em;
    }

    .social-icon-menu .menu-social-icon-mobile-right {
        position: absolute;
        width: 17vw;
        left: -1em;
        top: 0%;
    }

    .lrg-logo {
        position: absolute;
        width: 15%;
        left: 43%;
        top: 55%;
        z-index: 1;
    }

    .sml-logo {
        position: absolute;
        width: 15%;
        left: 43%;
        top: 55%;
        z-index: 1;
    }
}

@media all and (min-width: 960.1px) and (max-width: 1024px){
    .section-header .navbar {
        top:70px;
        left: 76%;
    }

    .section-header .navbar-toggler-icon {
        width: 70px;
        height: 70px;
    }

    .section-header .navbar-collapse {
        position: absolute;
        top: 1em;
        left: -10.5em;
        background-color: rgba(196, 229, 235, 0.8);
        padding: 20px 0px 10px 35px;
        width: 25em;
        z-index:10;
    }

    .arrow-right-mobile {
        width: 15px;
        position: absolute;
        left: -15px;
        top: 14px;
        height: 11px;
        background-image: url("/img/glyph-iconset-master/svg/si-glyph-arrow-right.svg");
    }


    .section-header .navbar-toggler {
        position: fixed;
        left: 91%;
        top: 9%;
        min-height: 50px;
        z-index: 12;
    }

    .social-icon-menu .menu-social-icon-mobile-left {
        position: absolute;
        width: 17vw;
        top: 0%;
        left: -52em;
    }

    .social-icon-menu .menu-social-icon-mobile-right {
        position: absolute;
        width: 17vw;
        left: 0em;
        top: 0%;
    }

    .lrg-logo {
        position: absolute;
        width: 18%;
        left: 42%;
        top: 44%;
        z-index: 1;
    }

    .sml-logo {
        position: absolute;
        width: 18%;
        left: 42%;
        top: 44%;
        z-index: 1;
    }
}

@media all and (min-width: 1024.1px) and (max-width: 1366px) {
    .lrg-logo {
        position:absolute;
        width: 21%;
        left:45%;
        top: 10%;
        z-index:1;
    }

    .sml-logo {
        position:absolute;
        width: 10%;
        left:47%;
        top: 6%;
        z-index:1;
    }

    .social-icon-menu {
        display: flex;
        position: absolute;
        top: 6%;
        left: 75%;
        width: 45%;
    }
}