.home_slider {

    background: url("../img/hero-bg.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: center;
    top: 0;
    left: 0;
    z-index: -5000;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-slide{

}

#quotation_button{

}