{{ define "main" }}
<section id="section-list-post">
    <div class="container">
        <div class="row">
            <h1 style="margin: auto auto 5% auto; font-size: 3em;">Blog</h1>
            {{ $paginator := .Paginate ((first 50 (where .Pages "Params.categories" "post"))) }}
            {{ range $paginator.Pages }}
            <div class="col-lg-12">
                <h1 class="title-list-post">{{ .Title }}</h1>

                <div class="row div-date-img-list-post" style="margin-bottom: 5%;">
                    <div class="col-lg-6">
                        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                        <em>{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</em>
                        </time>
                        <br>

                        <img src="{{.Params.img}}" class="img-list-post" style=""/>
                    </div>
                    <div class="col-lg-6" style="margin-top: 1.5%;">
                        <div class="summary-list-post">
                            {{slicestr .Summary 0 200}}...
                        </div>
                        {{ if .Truncated }}

                        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                        <div style="margin-top: 3%;">
                            <button class="btn-readmore"><a href="{{ .RelPermalink }}">Lire la suite</a></button>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <hr>
            </div>
            {{ end }}
            <div class="pagination-list-post">
            {{ partial "pagination" . }}
            </div>
        </div>
    </div>

</section>
{{ end }}