{{ define "main" }}
<section style="margin: 10% 0 0 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding-left: 45%;">

                <div class="row">


                        {{ with .PrevInSection }}
                        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
                        {{ end }}



                    <h1>{{.Title}}</h1>



                        {{ with .NextInSection }}
                        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                        {{ end }}


                </div>


                <h4 id="date"> <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                    <em>{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</em>
                    </time> </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-left:20%;">
                    <img src="{{.Params.img}}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10" style="padding-left: 20%;">
                <blockquote class="blockquote" style="text-align: justify; margin-top: 2%; font-size: 1.2em;">
                    {{ .Content }}
                </blockquote>
            </div>
        </div>
<hr>
        <div class="row">
            <div class="col-lg-12">
                <h1>Laissez un commentaire</h1>
            </div>
            <div class="col-lg-12" style="border: 3px solid blue; width: 100px; height:100px;">

            </div>
        </div>
    </div>
</section>

{{ end }}



