{{ define "main" }}
<section class="single-service">
    <div class="row" style="margin: 0;">
        <div class="col-lg-5" style="margin-left: 4%;">
            <div class="row" style="margin: 0; ">
                {{ with .NextInSection }}
                <a class="next" href="{{.Permalink}}"><span class="btn-previous"><img src="/img/glyph-iconset-master/svg/si-glyph-arrow-left.svg"/></span></a>
                {{ end }}
                {{ with .PrevInSection }}
                <a class="previous" href="{{.Permalink}}"><span class="btn-next"><img src="/img/glyph-iconset-master/svg/si-glyph-arrow-right.svg" /></span></a>
                {{ end }}
            </div>

            <div class="row content-title-single-service" style="margin: 0;">
                <h1>{{.Title}}</h1>
            </div>

            <div class="row div-icon">
                <img src="{{ .Params.iconSingle }}" alt="">
            </div>
        </div>

        <div class="col-lg-6">
            <figure class="snip1581"><img src="{{ .Params.img }}" alt="profile-sample2"/>
                <figcaption>
                    {{ .Content }}
                </figcaption>
            </figure>
        </div>
    </div>

</section>
{{end}}
