{{ define "main" }}
<section style="margin: 5% 0 0 0;">
    <div class="container">
        <div class="row">
            <div col-lg-6>
                <h1>{{.Title}}</h1>
                <h4 id="date"> <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                    <em>{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</em>
                    </time> </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="{{.Params.img}}" />
            </div>
        </div>
        <div class="col-lg-12">
            <article id="content">
                {{ .Content }}
            </article>
        </div>
    </div>

</section>
<aside id="meta">
    <div>
        <section>

        </section>
        {{ with .Params.topics }}
        <ul id="topics">
            {{ range . }}
            <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <ul id="tags">
            {{ range . }}
            <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <div>
        {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
</aside>
{{ end }}



