{{ "<!-- About section -->" | safeHTML }}

<section class="team_section">
    {{ with .Site.Params.about.title }}<h3 id="about-us">{{ . }}</h3>{{ end }}
            <div class="row">
                    {{ range .Site.Data.team.Team}}
                        <div class="col-lg-3">
                            <div class="face-lockup">
                                <div class="face-img" style="background-image: url('img/team/{{.profil}}');"></div>
                                <div style=""><img src="{{.icon}}" class="icon-profile"></div>

                                <div class="team_description">
                                    <h2>{{.name}}</h2>
                                    <p style="min-height: 100px;">{{.Description}}</p>
                                </div>
                            </div>
                        </div>
                    {{end}}
            </div>


        <div class="row col-lg-12">

            <div class="col-lg-6" id="text_footer">
                <p>Un projet? Appelez nous au 05.00.00.00.00 ! Nous ne répondons pas ? On vous rappelle !</p>
            </div>
            <img src="{{ .Site.BaseURL }}img/jimmyyeti/jimmysouleve.png" class="jimmy-souleve-left">
            <img src="{{ .Site.BaseURL }}img/jimmyyeti/jimmysouleve.png" class="jimmy-souleve-right">
            <!--<div class="col-lg-2" id="icon_discussion">-->
                <!--<img class="discuss" src="{{ .Site.BaseURL }}img/icones/jimmy_contact.png">-->
            <!--</div>-->
        </div>

</section>
