{{ "<!-- About section -->" | safeHTML }}

<section class="team_section">
    {{ with .Site.Params.about.title }}<h3 id="about-us">{{ . }}</h3>{{ end }}
            <div class="row">
                    {{ range .Site.Data.team.Team}}
                        <div class="col-lg-3">
                            <div class="face-lockup">
                                <div class="face-img" style="background-image: url('img/team/{{.profil}}')"><img src="{{.icon}}" class="icon-profile"></div>

                                <div class="team_description">
                                    <h2>{{.name}}</h2>
                                    <p style="min-height: 100px;">{{.Description}}</p>
                                </div>
                            </div>
                        </div>
                    {{end}}
            </div>
    <hr>

        <div class="row col-lg-12">
            <div class="col-lg-2" id="icon_footer"  >
                <img class="mobile" src="{{ .Site.BaseURL }}img/team/icon/mobile_icon.png">
            </div>
            <div class="col-lg-8" id="text_footer">
                <p>Un projet? appelez au 05.00.00.00.00 ! Nous ne répondons pas ? On vous rappelle !</p>
            </div>
            <div class="col-lg-2" id="icon_discussion">
                <img class="discuss" src="{{ .Site.BaseURL }}img/team/icon/discus_icon.png">
            </div>
        </div>

</section>
