{{ "<!-- Slider blog -->" | safeHTML }}



<section class="section-blog" style="background-color: #1e7e34;">
    {{ with .Site.Params.blog.title }}<h3 id="last-news">{{ . }}</h3>{{ end }}
        {{ .Content }}
    <div class="container">
        <div class="row">
            {{ range first 3 (where .Pages "Params.categories" "post")}}
            <div class="col-lg-4">
                {{ .Title }}
                <br>

                <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                <em>{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</em>
                </time>

                <hr>
                <img src="{{.Params.img}}" width="80%;"/>
                <br>

                {{slicestr .Summary 0 200}}...
                {{ if .Truncated }}
                <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                <div>
                    <button class="btn btn-primary"><a href="{{ .RelPermalink }}" style="color:white;">Lire la suite…</a></button>
                </div>
                {{ end }}

            </div>
            {{ end }}
        </div>
    </div>
</section>