{{ "<!-- Slider blog -->" | safeHTML }}



<section class="section-blog">
    {{ with .Site.Params.blog.title }}<h3 id="last-news">{{ . }}</h3>{{ end }}
        {{ .Content }}
    <div class="container">
        <div class="row">
            {{ range first 3 (where .Pages "Params.categories" "post")}}
            <div class="col-lg-4">
                <div class="head-title-last-news">
                <h4 style="text-align: center;">{{ .Title }}</h4>

                <time class="post-date" style="margin-left: 37%;" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                <em>{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</em>
                </time>
                </div>
                <hr>
                <img src="{{.Params.img}}" style="width: 80%; margin-left: 11%;"/>
                <br>

                <div style="text-align: center; margin-top: 5%;">
                    <button class="button-two"><a href="{{ .RelPermalink }}" style="color:white;"><span>Découvrez la suite</span></a></button>
                </div>



            </div>
            {{ end }}
        </div>
    </div>
</section>