{{ "<!-- Clients section -->" | safeHTML }}

<div class="section-call">
    <div class="text-content-call">
        <div class="top-border left"></div>
        <div class="top-border right"></div>
        <h1>Envie de nous contacter ?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="wrapper">
        <a id="btn-outline" href="#">
            <svg height="60" width="210" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="210"></rect>
            </svg>
            <div class="text-call">C'EST PAR ICI !</div>
        </a>
    </div>
</div>