{{ "<!-- Clients section -->" | safeHTML }}
<div class="section-call">
    <div class="text-content-call">
        <div class="top-border left"></div>
        <div class="top-border right"></div>
        <h1>Envie de nous contacter ?</h1>
        <p>Un projet, une question ou une simple envie de nous dire bonjour ? <br>
        Venez en discuter !</p>
    </div>
    <div id="wrapper">
        <a id="btn-outline" href="/contactcall">
            <svg height="60" width="250" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="210"></rect>
            </svg>
            <div class="text-call">C'EST PAR ICI !</div>
        </a>
    </div>
</div>