{{ "<!-- Footer section -->" | safeHTML }}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-content">
                {{ .Site.Params.email }}<br>
                {{ .Site.Params.adress }}<br>
                {{ .Site.Params.phonenumber }}
            </div>
            <div class="col-lg-4 footer-icons">
                <a href="#"><img src="/img/icones/facebook_black.png" id="icon-fb-footer"/></a>
                <a href="#"><img src="/img/icones/twitter_black.png" id="icon-twitter-footer"/></a>
                <a href="#"><img src="/img/icones/linkedin_black.png" id="icon-linkedin-footer" /></a>
                <a href="#"><img src="/img/icones/instagram_black.png" id="icon-instagram-footer" /></a>
                <a href="/contactcall"><img src="/img/icones/contact_black.png" id="icon-contact-footer" /></a>
            </div>
            <div class="col-lg-4 footer-copyright">
                {{ .Site.Params.footer.copyright }} {{ .Date.Format "2006" }} {{ .Site.Params.name }} | {{ .Site.Params.footer.right }}<br>
                {{ .Site.Params.footer.powered }}<br>
            </div>
        </div>
    </div>
</footer>


