{{ "<!-- Footer section -->" | safeHTML }}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" style="text-align: center;">
                {{ .Site.Params.email }}<br>
                {{ .Site.Params.adress }}<br>
                {{ .Site.Params.phonenumber }}
            </div>
            <div class="col-lg-4" style="text-align: center;">
                <a href="#"><img src="/img/icones/facebook_black.png" id="icon-fb-footer" style="width: 50px; height: 50px;"/></a>
                <a href="#"><img src="/img/icones/twitter_black.png" id="icon-twitter-footer" style="width: 50px; height: 50px;"/></a>
                <a href="#"><img src="/img/icones/linkedin_black.png" id="icon-linkedin-footer" style="width: 50px; height: 50px;"/></a>
                <a href="#"><img src="/img/icones/instagram_black.png" id="icon-instagram-footer" style="width: 50px; height: 50px;"/></a>
                <a href="/contactcall"><img src="/img/icones/contact_black.png" id="icon-contact-footer" style="width: 50px; height: 50px;"/></a>
            </div>
            <div class="col-lg-4" style="text-align: center;">
                {{ .Site.Params.footer.copyright }} {{ .Date.Format "2006" }} {{ .Site.Params.name }} | {{ .Site.Params.footer.right }}<br>
                {{ .Site.Params.footer.powered }}<br>
            </div>
        </div>
    </div>
</footer>


