{{ "<!-- Header section -->" | safeHTML }}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {{ with .Site.Params.header.title }}<a class="nav-link" href="/">{{ . }} <span class="sr-only">(current)</span></a>{{ end }}
            </li>
            <li class="nav-item dropdown">
                {{ with .Site.Params.events.title }}<a class="nav-link" href="/events">{{ . }}</a>{{ end }}
            </li>
            <li class="nav-item dropdown">
                {{ with .Site.Data.work.title }}<a class="nav-link" href="#work">{{ . }}</a>{{ end }}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item dropdown">
                {{ with .Site.Params.form.title }}<a class="nav-link" href="/contactcall">{{ . }}</a>{{ end }}
            </li>
        </ul>
        <div class="col-lg-3" style="display: flex;">
            <a href="#"><img src="/img/icones/facebook_black.png" id="icon-fb" style="width: 50px; height: 50px;"/></a>
            <a href="#"><img src="/img/icones/twitter_black.png" id="icon-twitter" style="width: 50px; height: 50px;"/></a>
            <a href="#"><img src="/img/icones/linkedin_black.png" id="icon-linkedin" style="width: 50px; height: 50px;"/></a>
            <a href="#"><img src="/img/icones/instagram_black.png" id="icon-instagram" style="width: 50px; height: 50px;"/></a>
            <a href="#"><img src="/img/icones/contact_black.png" id="icon-contact" style="width: 50px; height: 50px;"/></a>
            <a href="#"><img src="/img/icones/news_black.png" id="icon-news" style="width: 50px; height: 50px;"/></a>
        </div>
        <div class="lrg-logo">
            <img src="/img/logo.png" alt="Logo" id="header-logo">
        </div>
    </div>
</nav>
