{{ "<!-- Header section -->" | safeHTML }}
<header id="header">
    <nav>
        {{ with .Site.Params.header.title }}<a href="#header">{{ . }}</a>{{ end }}
        {{ with .Site.Params.about.title }}<a href="#about-us">{{ . }}</a>{{ end }}
        {{ with .Site.Data.work.title }}<a href="#work">{{ . }}</a>{{ end }}
        {{ with .Site.Data.clients.title }}<a href="#clients">{{ . }}</a>{{ end }}
        {{ with .Site.Params.form.title }}<a href="#form-title">{{ . }}</a>{{ end }}
    </nav>
</header>