{{ "<!-- Slider section -->" | safeHTML }}

<section class="section-slide">
        <!--<div class="slider-wrapper">-->
            <!--<div class="slider">-->

                <!--{{ range .Site.Data.slider.slide }}-->

                    <!--<div class="slider&#45;&#45;item" style="background-image: url('img/slider/{{.name}}')">-->
                    <!--</div>-->

                <!--{{ end }}-->

            <!--</div>-->
        <!--</div>-->
    <div class="bg-on-mobile">
        <img src="{{ .Site.BaseURL }}video/logo-purple.png">
    </div>
        <video id="video-slider" src="{{ .Site.BaseURL }}video/AnimationJimmyYeti2.mp4" autoplay loop>
            Il est temps de mettre à jour votre navigateur !
        </video>

</section>