{{ "<!-- Slider section -->" | safeHTML }}

<section class="section-slide" style="min-width: 370px; height: 300px;">
        <!--<div class="slider-wrapper">-->
            <!--<div class="slider">-->

                <!--{{ range .Site.Data.slider.slide }}-->

                    <!--<div class="slider&#45;&#45;item" style="background-image: url('img/slider/{{.name}}')">-->
                    <!--</div>-->

                <!--{{ end }}-->

            <!--</div>-->
        <!--</div>-->
</section>