<section class="alt-section section-work">
    {{ with .Site.Data.work.title }}<h3 id="work">Nos Services</h3>{{ end }}

    <div class="row game-block" >
        {{ range where .Pages "Params.categories" "work" }}

            <a href="{{ .RelPermalink }}" alt="" class="game-tile game-animate">
                <img src="{{ .Params.img }}" class="game-image">
                <div class="game-animation-wrapper">
                    <div class="game-overlay">
                        <span class="game-title">{{ .Title }}</span><br>
                        <span class="game-icon"> <img src="{{ .Params.icon }}" alt="" /></span>
                    </div>
                </div>
            </a>


    {{ end }}
    </div>
</section>
