<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "header.html"  . }}
        {{ partial "slider.html"  . }}
        {{ partial "about.html"   . }}
        {{ partial "work.html"    . }}
        {{ partial "blog.html"    . }}
        {{ partial "clients.html" . }}
        {{ partial "newsletter.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "footer.html"  . }}

        <div class='scrolltop'>
            <div class='scroll icon'><img src="/img/glyph-iconset-master/svg/si-glyph-arrow-up.svg" style="width: 48px; height: 48px;" /></div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/sliders.js"></script>
        <script src="{{ .Site.BaseURL }}js/menu.js"></script>
        <script src="{{ .Site.BaseURL }}js/social-icon.js"></script>
        <script src="{{ .Site.BaseURL }}js/functions.js"></script>
        <script src="{{ .Site.BaseURL }}js/work.js"></script>
        <script src="{{ .Site.BaseURL }}js/blog.js"></script>
        <script src="{{ .Site.BaseURL }}js/events.js"></script>
        <script src="{{ .Site.BaseURL }}js/btn-scroll-top.js"></script>
        <!-- Return top when refresh -->
        <script>
            window.onbeforeunload = function () {
                window.scrollTo(0, 0);
            }
        </script>
    </body>
</html>
