<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "header.html"  . }}
        {{ partial "slider.html"  . }}
        {{ partial "about.html"   . }}
        {{ partial "work.html"    . }}
        {{ partial "blog.html"    . }}
        {{ partial "clients.html" . }}
        {{ partial "newsletter.html" . }}
        {{ partial "contactcalltoaction.html" . }}
        {{ partial "footer.html"  . }}

        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src='http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js'></script>
        <script  src="{{ .Site.BaseURL }}js/sliders.js"></script>
        <script src="{{ .Site.BaseURL }}js/menu.js"></script>
        <script src="{{ .Site.BaseURL }}js/functions.js"></script>
    </body>
</html>
