{{ define "main" }}


<section id="section-events">
        <h1>Nos évènements</h1>
        <div class="row justify-content-lg-center">
            {{ range where .Pages.ByDate "Params.categories" "event"}}
            <figure class="snip1554 col-lg-auto" style="padding: 0;">
                <img src="{{ .Params.img }}" alt="" />
                <figcaption>
                    <h3>{{ .Title }}</h3>
                </figcaption>
                <a href="{{ .RelPermalink }}"></a>
            </figure>
            {{ end }}
        </div>
</section>
{{ end }}