{{ define "main" }}
<section id="section-single-event">
    <div class="row title-single-event">
        <div class="col-lg-12">
            <h1>{{ with .PrevInSection }}
                <a class="previous" href="{{.Permalink}}"> <span class="btn-previous"><img src="/img/glyph-iconset-master/svg/si-glyph-arrow-left.svg"/></span></a>
                {{ end }}
                {{.Title}}
                {{ with .NextInSection }}
                <a class="next" href="{{.Permalink}}"><span class="btn-next"><img src="/img/glyph-iconset-master/svg/si-glyph-arrow-right.svg" /></span></a>
                {{ end }}
            </h1>
        </div>

    </div>

    <div class="row" style="margin: 0;">
        <div class="col-lg-5 offset-lg-1">
                <img class="img-single-event" src="{{.Params.img}}" />
        </div>
        <div class="col-lg-4 div-content-single">
            {{ .Content }}
        </div>
        </div>
    </div>
</section>
{{ end }}